@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype') ;
    font-weight: normal;
}

/*
#93ebaf
#99c0a5
#7e9686
#486b53
#21412a
#11331b
*/

:root {
    --color0: #93ebaf;
    --color1: #99c0a5;
    --color2: #7e9686;
    --color3: #486b53;
    --color4: #21412a;
    --color5: #11331b;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header > p {
    color: white;
    font-family: (var(--fonte-padrao));
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

nav {
    background-color: var(--color5);
    box-shadow: 1px 4px 4px #00000066;
    padding: 10px;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--color3);
    color: var(--color5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 11px #00000066;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--color5);
    font-family: var(--fonte-android) 
}

main h2 {
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--color5);
    color: white;
}