@charset "UTF-8";

body {
    background-color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: yellowgreen;
    background-color: seagreen;
}

h2 {
    color: chartreuse;
}

p {
    color: aqua;
    text-align: justify;
}
