@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100% */
}

body {
    background-image: linear-gradient(to right, #024959, #1C8C81);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(112, 45, 30, 0.445);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9583B;
    text-align: center;
    text-shadow: 1px 1px 2px #57231773;
}

h2 {
    color: #F28749;
}

p {
    text-align: justify;
}